:root {
  --primary-font: 'Urbanist', sans-serif;

    /* COLORS */
    --gray: rgb(204, 204, 204);
    --light-gray:rgb(32, 32, 32);
    --white: rgb(241, 241, 241);
    --green: rgb(122, 173, 130);
    --dark-green: rgb(88, 122, 93);
    --purple: rgb(91, 64, 102);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: var(--primary-font);
}

*::selection {
  background: #000;
  color: #fff;
}

body {
  background: var(--white);
  font-family: var(--primary-font);
}

p {
  line-height: 1.5;
}

.header {
  background: transparent;
}

.container {
  width: 70%;
  margin: auto;
}