:root {
  --primary-font: 'Urbanist', sans-serif;

    /* COLORS */
    --gray: rgb(204, 204, 204);
    --light-gray:rgb(32, 32, 32);
    --white: rgb(241, 241, 241);
    --green: rgb(122, 173, 130);
    --dark-green: rgb(88, 122, 93);
    --purple: rgb(91, 64, 102);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: var(--primary-font);
}

*::selection {
  background: #000;
  color: #fff;
}

body {
  background: var(--white);
  font-family: var(--primary-font);
}

p {
  line-height: 1.5;
}

.header {
  background: transparent;
}

.container {
  width: 70%;
  margin: auto;
}

.button {
  width: auto;
  padding: 0.8rem;

  background: rgb(255, 255, 255);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border-radius: 0px;
  border: none;
  /* border: 2px solid #000; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 976px) {
      
  .section {
        padding: 4rem 1rem;
  }

  /* ABOUT */
  .card {
        width: 100%;
        

        flex-direction: column;
  }

  .card__info {
        width: 100%;

        align-items: center;
  }

  .card__text {
        width: 100%;
  }




  /* PROJECTS */
  .projects-grid {
        width: 100%;
  }

  .form {
        width: 100%;
  }



  /* FOOTER */

  .footer .container {
        width: 100%;
        padding: 0rem 1rem;
  }
  
}

@media screen and (max-width: 500px) {
  
  .card__title {
        text-align: center;
  }

  /* PROJECTS */
  .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .form {
        width: 100%;
  }
  

  .footer .container {
        text-align: center;

        flex-direction: column;
        justify-content: space-around;
  }
}

@media screen and (max-width: 976px) {
      
  .section {
        padding: 4rem 1rem;
  }

  /* ABOUT */
  .card {
        width: 100%;
        
        flex-direction: column;
  }

  .card__info {
        width: 100%;

        align-items: center;
  }

  .card__text {
        width: 100%;
  }




  /* PROJECTS */
  .projects-grid {
        width: 100%;
  }

  .form {
        width: 100%;
  }



  /* FOOTER */

  .footer .container {
        width: 100%;
        padding: 0rem 1rem;
  }
  
}

@media screen and (max-width: 500px) {
  
  .card__title {
        text-align: center;
  }

  /* PROJECTS */
  .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .form {
        width: 100%;
  }
  

  .footer .container {
        text-align: center;

        flex-direction: column;
        justify-content: space-around;
  }
}